body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../3_5_3图片的下载_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:48px;
    top:150px;
    width:320px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../3_5_3图片的下载_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:49px;
    top:165px;
    width:320px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:45px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:49px;
    top:178px;
    width:320px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../3_5_3图片的下载_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:49px;
    top:150px;
    width:321px;
    height:16px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:16px;
}

.u6 {
    position:absolute;
    left:2px;
    top:0px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:78px;
    top:150px;
    width:53px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:181px;
    top:150px;
    width:57px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../3_5_3图片的下载_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:55px;
    top:172px;
    width:65px;
    height:32px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:32px;
}

.u10 {
    position:absolute;
    left:2px;
    top:8px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:65px;
    top:179px;
    width:50px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../3_5_3图片的下载_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:48px;
    top:578px;
    width:320px;
    height:50px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u13 {
    position:absolute;
    left:2px;
    top:17px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../3_5_3图片的下载_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:331px;
    top:588px;
    width:30px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../3_5_3图片的下载_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:58px;
    top:380px;
    width:40px;
    height:40px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u17 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../3_5_3图片的下载_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:94px;
    top:585px;
    width:180px;
    height:35px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:41px;
}

.u19 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../3_5_3图片的下载_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:53px;
    top:588px;
    width:30px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../3_5_3图片的下载_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:54px;
    top:589px;
    width:30px;
    height:30px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u23 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../3_5_3图片的下载_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:284px;
    top:588px;
    width:40px;
    height:31px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:31px;
}

.u25 {
    position:absolute;
    left:2px;
    top:8px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../3_5_3图片的下载_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:115px;
    top:380px;
    width:110px;
    height:130px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:130px;
}

.u27 {
    position:absolute;
    left:2px;
    top:57px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../3_5_3图片的下载_files/u0_normal.png');
}

.u28_container {
    position:absolute;
    left:410px;
    top:150px;
    width:320px;
    height:480px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u29 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../3_5_3图片的下载_files/u5_normal.png');
}

.u30_container {
    position:absolute;
    left:410px;
    top:150px;
    width:321px;
    height:16px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:16px;
}

.u31 {
    position:absolute;
    left:2px;
    top:0px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:439px;
    top:150px;
    width:53px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:542px;
    top:150px;
    width:57px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:410px;
    top:176px;
    width:320px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../3_5_3图片的下载_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:411px;
    top:530px;
    width:320px;
    height:100px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:106px;
}

.u36 {
    position:absolute;
    left:2px;
    top:42px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_line {
    background-image: url('../3_5_3图片的下载_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:50px;
}

.u37 {
    position:absolute;
    left:721px;
    top:530px;
    width:10px;
    height:50px;
    
}

.u38 {
    position:absolute;
    left:421px;
    top:530px;
    width:300px;
    height:95px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../3_5_3图片的下载_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:410px;
    top:166px;
    width:320px;
    height:362px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:368px;
}

.u40 {
    position:absolute;
    left:2px;
    top:173px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../3_5_3图片的下载_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:473px;
    top:341px;
    width:214px;
    height:10px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:16px;
}

.u42 {
    position:absolute;
    left:2px;
    top:-3px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../3_5_3图片的下载_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:475px;
    top:342px;
    width:30px;
    height:8px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:14px;
}

.u44 {
    position:absolute;
    left:2px;
    top:-4px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:144px;
    top:490px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:529px;
    top:309px;
    width:144px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:529px;
    top:359px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:228px;
    top:490px;
    width:50px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:58px;
    top:111px;
    width:220px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:430px;
    top:45px;
    width:310px;
    height:95px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../3_5_3图片的下载_files/u0_normal.png');
}

.u51_container {
    position:absolute;
    left:789px;
    top:148px;
    width:320px;
    height:480px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u52 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../3_5_3图片的下载_files/u5_normal.png');
}

.u53_container {
    position:absolute;
    left:789px;
    top:148px;
    width:321px;
    height:16px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:16px;
}

.u54 {
    position:absolute;
    left:2px;
    top:0px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:818px;
    top:148px;
    width:53px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:921px;
    top:148px;
    width:57px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../3_5_3图片的下载_files/u35_normal.png');
}

.u57_container {
    position:absolute;
    left:790px;
    top:528px;
    width:320px;
    height:100px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:106px;
}

.u58 {
    position:absolute;
    left:2px;
    top:42px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_line {
    background-image: url('../3_5_3图片的下载_files/u59_line.png');
}

.u59_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:50px;
}

.u59 {
    position:absolute;
    left:1100px;
    top:528px;
    width:10px;
    height:50px;
    
}

.u60 {
    position:absolute;
    left:800px;
    top:528px;
    width:300px;
    height:95px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../3_5_3图片的下载_files/u39_normal.png');
}

.u61_container {
    position:absolute;
    left:789px;
    top:164px;
    width:320px;
    height:362px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:368px;
}

.u62 {
    position:absolute;
    left:2px;
    top:173px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../3_5_3图片的下载_files/u41_normal.png');
}

.u63_container {
    position:absolute;
    left:852px;
    top:339px;
    width:214px;
    height:10px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:220px;
    height:16px;
}

.u64 {
    position:absolute;
    left:2px;
    top:-3px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../3_5_3图片的下载_files/u43_normal.png');
}

.u65_container {
    position:absolute;
    left:854px;
    top:340px;
    width:30px;
    height:8px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:14px;
}

.u66 {
    position:absolute;
    left:2px;
    top:-4px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:909px;
    top:309px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:908px;
    top:357px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:789px;
    top:83px;
    width:290px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:298px;
    top:175px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71_normal {
    background-image: url('../3_5_3图片的下载_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:410px;
    top:165px;
    width:320px;
    height:44px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u72 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../3_5_3图片的下载_files/u71_normal.png');
}

.u73_container {
    position:absolute;
    left:790px;
    top:163px;
    width:320px;
    height:44px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u74 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../3_5_3图片的下载_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:421px;
    top:174px;
    width:53px;
    height:25px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:31px;
}

.u76 {
    position:absolute;
    left:2px;
    top:3px;
    width:49px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../3_5_3图片的下载_files/u75_normal.png');
}

.u77_container {
    position:absolute;
    left:668px;
    top:175px;
    width:53px;
    height:25px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:31px;
}

.u78 {
    position:absolute;
    left:2px;
    top:3px;
    width:49px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../3_5_3图片的下载_files/u75_normal.png');
}

.u79_container {
    position:absolute;
    left:800px;
    top:172px;
    width:53px;
    height:25px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:31px;
}

.u80 {
    position:absolute;
    left:2px;
    top:3px;
    width:49px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../3_5_3图片的下载_files/u75_normal.png');
}

.u81_container {
    position:absolute;
    left:1047px;
    top:173px;
    width:53px;
    height:25px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:31px;
}

.u82 {
    position:absolute;
    left:2px;
    top:3px;
    width:49px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

