body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../iphone_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:85px;
    width:13px;
    height:34px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:40px;
}

.u1 {
    position:absolute;
    left:2px;
    top:9px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../iphone_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:155px;
    width:13px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:7px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../iphone_files/u2_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:220px;
    width:13px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:7px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../iphone_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:256px;
    top:0px;
    width:57px;
    height:8px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:14px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-4px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../iphone_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:4px;
    top:5px;
    width:376px;
    height:743px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:382px;
    height:749px;
}

.u9 {
    position:absolute;
    left:2px;
    top:364px;
    width:372px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../iphone_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:8px;
    top:9px;
    width:368px;
    height:735px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:374px;
    height:741px;
}

.u11 {
    position:absolute;
    left:2px;
    top:360px;
    width:364px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../iphone_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:156px;
    top:62px;
    width:71px;
    height:16px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:22px;
}

.u13 {
    position:absolute;
    left:2px;
    top:0px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../iphone_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:121px;
    top:62px;
    width:15px;
    height:15px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u15 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../iphone_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:4px;
    top:65px;
    width:4px;
    height:4px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:10px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../iphone_files/u16_normal.png');
}

.u18_container {
    position:absolute;
    left:376px;
    top:64px;
    width:4px;
    height:4px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:10px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../iphone_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:125px;
    top:66px;
    width:7px;
    height:7px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:13px;
    height:13px;
}

.u21 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../iphone_files/u16_normal.png');
}

.u22_container {
    position:absolute;
    left:4px;
    top:659px;
    width:4px;
    height:4px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:10px;
}

.u23 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../iphone_files/u16_normal.png');
}

.u24_container {
    position:absolute;
    left:376px;
    top:659px;
    width:4px;
    height:4px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:10px;
}

.u25 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../iphone_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:162px;
    top:653px;
    width:60px;
    height:60px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u27 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../iphone_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:180px;
    top:670px;
    width:24px;
    height:24px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:30px;
}

.u29 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../iphone_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:35px;
    top:147px;
    width:2px;
    height:2px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:8px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../iphone_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:39px;
    top:146px;
    width:2px;
    height:3px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../iphone_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:43px;
    top:144px;
    width:2px;
    height:5px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:11px;
}

.u35 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../iphone_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:47px;
    top:142px;
    width:2px;
    height:7px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:13px;
}

.u37 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../iphone_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:51px;
    top:140px;
    width:2px;
    height:9px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:15px;
}

.u39 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../iphone_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:347px;
    top:143px;
    width:2px;
    height:3px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../iphone_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:31px;
    top:134px;
    width:322px;
    height:482px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:328px;
    height:488px;
}

.u43 {
    position:absolute;
    left:2px;
    top:233px;
    width:318px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../iphone_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:32px;
    top:135px;
    width:320px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:20px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../通讯录_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:32px;
    top:155px;
    width:320px;
    height:44px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../通讯录_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:39px;
    top:207px;
    width:304px;
    height:29px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:310px;
    height:35px;
}

.u50 {
    position:absolute;
    left:2px;
    top:6px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../通讯录_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:158px;
    top:210px;
    width:22px;
    height:24px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:24px;
}

.u52 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:190px;
    top:214px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../通讯录_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:32px;
    top:244px;
    width:320px;
    height:36px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:42px;
}

.u55 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../通讯录_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:32px;
    top:409px;
    width:320px;
    height:57px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:63px;
}

.u57 {
    position:absolute;
    left:2px;
    top:20px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:62px;
    top:254px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../通讯录_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:39px;
    top:414px;
    width:45px;
    height:45px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:51px;
}

.u60 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:95px;
    top:440px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../通讯录_files/u56_normal.png');
}

.u62_container {
    position:absolute;
    left:32px;
    top:352px;
    width:320px;
    height:57px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:63px;
}

.u63 {
    position:absolute;
    left:2px;
    top:20px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:94px;
    top:414px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../通讯录_files/u59_normal.png');
}

.u65_container {
    position:absolute;
    left:39px;
    top:357px;
    width:45px;
    height:45px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:51px;
}

.u66 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:94px;
    top:386px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../通讯录_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:39px;
    top:252px;
    width:20px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../通讯录_files/u54_normal.png');
}

.u70_container {
    position:absolute;
    left:32px;
    top:316px;
    width:320px;
    height:36px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:42px;
}

.u71 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:62px;
    top:326px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../通讯录_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:38px;
    top:322px;
    width:20px;
    height:23px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:23px;
}

.u74 {
    position:absolute;
    left:2px;
    top:4px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:94px;
    top:360px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../通讯录_files/u54_normal.png');
}

.u76_container {
    position:absolute;
    left:32px;
    top:280px;
    width:320px;
    height:36px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:42px;
}

.u77 {
    position:absolute;
    left:2px;
    top:10px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:62px;
    top:290px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../通讯录_files/u68_normal.png');
}

.u79_container {
    position:absolute;
    left:39px;
    top:288px;
    width:20px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../通讯录_files/u56_normal.png');
}

.u81_container {
    position:absolute;
    left:32px;
    top:466px;
    width:320px;
    height:57px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:63px;
}

.u82 {
    position:absolute;
    left:2px;
    top:20px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../通讯录_files/u59_normal.png');
}

.u83_container {
    position:absolute;
    left:39px;
    top:471px;
    width:45px;
    height:45px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:51px;
}

.u84 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:95px;
    top:497px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../通讯录_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:276px;
    top:377px;
    width:20px;
    height:20px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u87 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../通讯录_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:318px;
    top:374px;
    width:25px;
    height:25px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u89 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../通讯录_files/u86_normal.png');
}

.u90_container {
    position:absolute;
    left:276px;
    top:437px;
    width:20px;
    height:20px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u91 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../通讯录_files/u88_normal.png');
}

.u92_container {
    position:absolute;
    left:318px;
    top:434px;
    width:25px;
    height:25px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u93 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../通讯录_files/u86_normal.png');
}

.u94_container {
    position:absolute;
    left:276px;
    top:494px;
    width:20px;
    height:20px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u95 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../通讯录_files/u88_normal.png');
}

.u96_container {
    position:absolute;
    left:318px;
    top:491px;
    width:25px;
    height:25px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u97 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../通讯录_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:244px;
    top:164px;
    width:49px;
    height:26px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:32px;
}

.u99 {
    position:absolute;
    left:2px;
    top:5px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../通讯录_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:293px;
    top:164px;
    width:49px;
    height:26px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:32px;
}

.u101 {
    position:absolute;
    left:2px;
    top:5px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../iphone_files/u0_normal.png');
}

.u102_container {
    position:absolute;
    left:666px;
    top:85px;
    width:13px;
    height:34px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:40px;
}

.u103 {
    position:absolute;
    left:2px;
    top:9px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../iphone_files/u2_normal.png');
}

.u104_container {
    position:absolute;
    left:666px;
    top:155px;
    width:13px;
    height:30px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:36px;
}

.u105 {
    position:absolute;
    left:2px;
    top:7px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../iphone_files/u2_normal.png');
}

.u106_container {
    position:absolute;
    left:666px;
    top:220px;
    width:13px;
    height:30px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:36px;
}

.u107 {
    position:absolute;
    left:2px;
    top:7px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../iphone_files/u6_normal.png');
}

.u108_container {
    position:absolute;
    left:922px;
    top:0px;
    width:57px;
    height:8px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:14px;
}

.u109 {
    position:absolute;
    left:2px;
    top:-4px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../iphone_files/u8_normal.png');
}

.u110_container {
    position:absolute;
    left:670px;
    top:5px;
    width:376px;
    height:743px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:382px;
    height:749px;
}

.u111 {
    position:absolute;
    left:2px;
    top:364px;
    width:372px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../iphone_files/u10_normal.png');
}

.u112_container {
    position:absolute;
    left:674px;
    top:9px;
    width:368px;
    height:735px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:374px;
    height:741px;
}

.u113 {
    position:absolute;
    left:2px;
    top:360px;
    width:364px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../iphone_files/u12_normal.png');
}

.u114_container {
    position:absolute;
    left:822px;
    top:62px;
    width:71px;
    height:16px;
}

#u114_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:22px;
}

.u115 {
    position:absolute;
    left:2px;
    top:0px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../iphone_files/u14_normal.png');
}

.u116_container {
    position:absolute;
    left:787px;
    top:62px;
    width:15px;
    height:15px;
}

#u116_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u117 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../iphone_files/u16_normal.png');
}

.u118_container {
    position:absolute;
    left:670px;
    top:65px;
    width:4px;
    height:4px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:10px;
}

.u119 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../iphone_files/u16_normal.png');
}

.u120_container {
    position:absolute;
    left:1042px;
    top:64px;
    width:4px;
    height:4px;
}

#u120_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:10px;
}

.u121 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../iphone_files/u20_normal.png');
}

.u122_container {
    position:absolute;
    left:791px;
    top:66px;
    width:7px;
    height:7px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:13px;
    height:13px;
}

.u123 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../iphone_files/u16_normal.png');
}

.u124_container {
    position:absolute;
    left:670px;
    top:659px;
    width:4px;
    height:4px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:10px;
}

.u125 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../iphone_files/u16_normal.png');
}

.u126_container {
    position:absolute;
    left:1042px;
    top:659px;
    width:4px;
    height:4px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:10px;
}

.u127 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../iphone_files/u26_normal.png');
}

.u128_container {
    position:absolute;
    left:828px;
    top:653px;
    width:60px;
    height:60px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u129 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../iphone_files/u28_normal.png');
}

.u130_container {
    position:absolute;
    left:846px;
    top:670px;
    width:24px;
    height:24px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:30px;
}

.u131 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../iphone_files/u30_normal.png');
}

.u132_container {
    position:absolute;
    left:701px;
    top:147px;
    width:2px;
    height:2px;
}

#u132_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:8px;
}

.u133 {
    position:absolute;
    left:2px;
    top:-7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../iphone_files/u32_normal.png');
}

.u134_container {
    position:absolute;
    left:705px;
    top:146px;
    width:2px;
    height:3px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u135 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../iphone_files/u34_normal.png');
}

.u136_container {
    position:absolute;
    left:709px;
    top:144px;
    width:2px;
    height:5px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:11px;
}

.u137 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../iphone_files/u36_normal.png');
}

.u138_container {
    position:absolute;
    left:713px;
    top:142px;
    width:2px;
    height:7px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:13px;
}

.u139 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../iphone_files/u38_normal.png');
}

.u140_container {
    position:absolute;
    left:717px;
    top:140px;
    width:2px;
    height:9px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:15px;
}

.u141 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../iphone_files/u40_normal.png');
}

.u142_container {
    position:absolute;
    left:1013px;
    top:143px;
    width:2px;
    height:3px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u143 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../iphone_files/u42_normal.png');
}

.u144_container {
    position:absolute;
    left:697px;
    top:134px;
    width:322px;
    height:482px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:328px;
    height:488px;
}

.u145 {
    position:absolute;
    left:2px;
    top:233px;
    width:318px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../iphone_files/u44_normal.png');
}

.u146_container {
    position:absolute;
    left:698px;
    top:135px;
    width:320px;
    height:20px;
}

#u146_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:20px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../通讯录_files/u47_normal.png');
}

.u149_container {
    position:absolute;
    left:698px;
    top:156px;
    width:320px;
    height:44px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u150 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../通讯录_files/u49_normal.png');
}

.u151_container {
    position:absolute;
    left:705px;
    top:208px;
    width:304px;
    height:29px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:310px;
    height:35px;
}

.u152 {
    position:absolute;
    left:2px;
    top:6px;
    width:300px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../通讯录_files/u51_normal.png');
}

.u153_container {
    position:absolute;
    left:824px;
    top:210px;
    width:22px;
    height:24px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:24px;
}

.u154 {
    position:absolute;
    left:2px;
    top:4px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:856px;
    top:214px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../通讯录_files/u100_normal.png');
}

.u156_container {
    position:absolute;
    left:910px;
    top:164px;
    width:49px;
    height:26px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:32px;
}

.u157 {
    position:absolute;
    left:2px;
    top:5px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../通讯录_files/u98_normal.png');
}

.u158_container {
    position:absolute;
    left:959px;
    top:164px;
    width:49px;
    height:26px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:55px;
    height:32px;
}

.u159 {
    position:absolute;
    left:2px;
    top:5px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../通讯录_files/u160_normal.png');
}

.u160_container {
    position:absolute;
    left:698px;
    top:246px;
    width:320px;
    height:25px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:31px;
}

.u161 {
    position:absolute;
    left:2px;
    top:4px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../通讯录_files/u56_normal.png');
}

.u162_container {
    position:absolute;
    left:698px;
    top:271px;
    width:320px;
    height:57px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:63px;
}

.u163 {
    position:absolute;
    left:2px;
    top:20px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:705px;
    top:250px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:760px;
    top:279px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../通讯录_files/u59_normal.png');
}

.u166_container {
    position:absolute;
    left:705px;
    top:276px;
    width:45px;
    height:45px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:51px;
}

.u167 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:760px;
    top:305px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../通讯录_files/u160_normal.png');
}

.u169_container {
    position:absolute;
    left:698px;
    top:328px;
    width:320px;
    height:25px;
}

#u169_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:31px;
}

.u170 {
    position:absolute;
    left:2px;
    top:4px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../通讯录_files/u56_normal.png');
}

.u171_container {
    position:absolute;
    left:698px;
    top:353px;
    width:320px;
    height:57px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:63px;
}

.u172 {
    position:absolute;
    left:2px;
    top:20px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:705px;
    top:332px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:760px;
    top:361px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../通讯录_files/u59_normal.png');
}

.u175_container {
    position:absolute;
    left:705px;
    top:358px;
    width:45px;
    height:45px;
}

#u175_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:51px;
}

.u176 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:760px;
    top:387px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178_normal {
    background-image: url('../通讯录_files/u160_normal.png');
}

.u178_container {
    position:absolute;
    left:698px;
    top:410px;
    width:320px;
    height:25px;
}

#u178_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:31px;
}

.u179 {
    position:absolute;
    left:2px;
    top:4px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180_normal {
    background-image: url('../通讯录_files/u56_normal.png');
}

.u180_container {
    position:absolute;
    left:698px;
    top:435px;
    width:320px;
    height:57px;
}

#u180_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:63px;
}

.u181 {
    position:absolute;
    left:2px;
    top:20px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u182 {
    position:absolute;
    left:705px;
    top:414px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:760px;
    top:443px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184_normal {
    background-image: url('../通讯录_files/u59_normal.png');
}

.u184_container {
    position:absolute;
    left:705px;
    top:440px;
    width:45px;
    height:45px;
}

#u184_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:51px;
}

.u185 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:760px;
    top:469px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../通讯录_files/u187_normal.png');
}

.u187_container {
    position:absolute;
    left:998px;
    top:246px;
    width:20px;
    height:369px;
}

#u187_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:375px;
}

.u188 {
    position:absolute;
    left:2px;
    top:44px;
    width:16px;
    height:280px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../通讯录_files/u86_normal.png');
}

.u189_container {
    position:absolute;
    left:920px;
    top:298px;
    width:20px;
    height:20px;
}

#u189_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u190 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../通讯录_files/u88_normal.png');
}

.u191_container {
    position:absolute;
    left:962px;
    top:295px;
    width:25px;
    height:25px;
}

#u191_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u192 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193_normal {
    background-image: url('../通讯录_files/u86_normal.png');
}

.u193_container {
    position:absolute;
    left:920px;
    top:381px;
    width:20px;
    height:20px;
}

#u193_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u194 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195_normal {
    background-image: url('../通讯录_files/u88_normal.png');
}

.u195_container {
    position:absolute;
    left:962px;
    top:378px;
    width:25px;
    height:25px;
}

#u195_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u196 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197_normal {
    background-image: url('../通讯录_files/u86_normal.png');
}

.u197_container {
    position:absolute;
    left:920px;
    top:463px;
    width:20px;
    height:20px;
}

#u197_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u198 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199_normal {
    background-image: url('../通讯录_files/u88_normal.png');
}

.u199_container {
    position:absolute;
    left:962px;
    top:460px;
    width:25px;
    height:25px;
}

#u199_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u200 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:96px;
    top:473px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:390px;
    top:199px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

