body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:140px;
    top:27px;
    width:420px;
    height:171px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../1_会话页面_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:152px;
    top:230px;
    width:320px;
    height:480px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u2 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../1_会话页面_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:152px;
    top:245px;
    width:320px;
    height:44px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:44px;
}

.u4 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../1_会话页面_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:152px;
    top:230px;
    width:321px;
    height:16px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:16px;
}

.u6 {
    position:absolute;
    left:2px;
    top:0px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:181px;
    top:230px;
    width:53px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:284px;
    top:230px;
    width:57px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:152px;
    top:256px;
    width:320px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../1_会话页面_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:151px;
    top:288px;
    width:320px;
    height:60px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:66px;
}

.u11 {
    position:absolute;
    left:2px;
    top:22px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../1_会话页面_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:152px;
    top:288px;
    width:60px;
    height:60px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u13 {
    position:absolute;
    left:2px;
    top:20px;
    width:56px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:221px;
    top:298px;
    width:52px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../1_会话页面_files/u3_normal.png');
}

.u15_container {
    position:absolute;
    left:152px;
    top:665px;
    width:320px;
    height:44px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:44px;
}

.u16 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../1_会话页面_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:250px;
    top:668px;
    width:30px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:185px;
    top:690px;
    width:30px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../1_会话页面_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:331px;
    top:668px;
    width:30px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:252px;
    top:689px;
    width:43px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../1_会话页面_files/u17_normal.png');
}

.u23_container {
    position:absolute;
    left:409px;
    top:668px;
    width:30px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:411px;
    top:690px;
    width:30px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../1_会话页面_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:183px;
    top:668px;
    width:30px;
    height:20px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:327px;
    top:689px;
    width:58px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:420px;
    top:298px;
    width:50px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../1_会话页面_files/u10_normal.png');
}

.u30_container {
    position:absolute;
    left:151px;
    top:348px;
    width:320px;
    height:60px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:66px;
}

.u31 {
    position:absolute;
    left:2px;
    top:22px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../1_会话页面_files/u12_normal.png');
}

.u32_container {
    position:absolute;
    left:152px;
    top:348px;
    width:60px;
    height:60px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u33 {
    position:absolute;
    left:2px;
    top:20px;
    width:56px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:219px;
    top:358px;
    width:62px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:411px;
    top:358px;
    width:58px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../1_会话页面_files/u10_normal.png');
}

.u36_container {
    position:absolute;
    left:151px;
    top:408px;
    width:320px;
    height:60px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:66px;
}

.u37 {
    position:absolute;
    left:2px;
    top:22px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../1_会话页面_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:152px;
    top:408px;
    width:40px;
    height:60px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:66px;
}

.u39 {
    position:absolute;
    left:2px;
    top:20px;
    width:36px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:218px;
    top:418px;
    width:152px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:410px;
    top:418px;
    width:59px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:219px;
    top:326px;
    width:252px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:219px;
    top:381px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:219px;
    top:442px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_line {
    background-image: url('../1_会话页面_files/u45_line.png');
}

.u45_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:480px;
}

.u45 {
    position:absolute;
    left:466px;
    top:230px;
    width:10px;
    height:480px;
    
}

.u46 {
    position:absolute;
    left:411px;
    top:250px;
    width:50px;
    height:30px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47_normal {
    background-image: url('../1_会话页面_files/u10_normal.png');
}

.u47_container {
    position:absolute;
    left:151px;
    top:468px;
    width:320px;
    height:60px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:66px;
}

.u48 {
    position:absolute;
    left:2px;
    top:22px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../1_会话页面_files/u12_normal.png');
}

.u49_container {
    position:absolute;
    left:152px;
    top:468px;
    width:60px;
    height:60px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u50 {
    position:absolute;
    left:2px;
    top:20px;
    width:56px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:218px;
    top:478px;
    width:152px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:410px;
    top:478px;
    width:59px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:219px;
    top:502px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../1_会话页面_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:192px;
    top:408px;
    width:20px;
    height:30px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:36px;
}

.u55 {
    position:absolute;
    left:2px;
    top:7px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../1_会话页面_files/u54_normal.png');
}

.u56_container {
    position:absolute;
    left:192px;
    top:438px;
    width:20px;
    height:30px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:26px;
    height:36px;
}

.u57 {
    position:absolute;
    left:2px;
    top:7px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

