body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../3_聊天页面_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:92px;
    top:70px;
    width:320px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../3_聊天页面_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:93px;
    top:85px;
    width:320px;
    height:45px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:45px;
}

.u3 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:93px;
    top:98px;
    width:320px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../3_聊天页面_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:93px;
    top:70px;
    width:321px;
    height:16px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:16px;
}

.u6 {
    position:absolute;
    left:2px;
    top:0px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:122px;
    top:70px;
    width:53px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:225px;
    top:70px;
    width:57px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../3_聊天页面_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:99px;
    top:92px;
    width:65px;
    height:32px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:32px;
}

.u10 {
    position:absolute;
    left:2px;
    top:8px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:109px;
    top:99px;
    width:50px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../3_聊天页面_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:92px;
    top:498px;
    width:320px;
    height:50px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:56px;
}

.u13 {
    position:absolute;
    left:2px;
    top:17px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../3_聊天页面_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:375px;
    top:508px;
    width:30px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:6px;
    width:26px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../3_聊天页面_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:110px;
    top:149px;
    width:40px;
    height:40px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u17 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../3_聊天页面_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:166px;
    top:156px;
    width:110px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:36px;
}

.u19 {
    position:absolute;
    left:2px;
    top:6px;
    width:106px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../3_聊天页面_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:212px;
    top:210px;
    width:140px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:6px;
    width:136px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../3_聊天页面_files/u16_normal.png');
}

.u22_container {
    position:absolute;
    left:362px;
    top:210px;
    width:40px;
    height:40px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u23 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../3_聊天页面_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:140px;
    top:505px;
    width:180px;
    height:35px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:41px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../3_聊天页面_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:97px;
    top:508px;
    width:30px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../3_聊天页面_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:98px;
    top:509px;
    width:30px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u29 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../3_聊天页面_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:330px;
    top:509px;
    width:40px;
    height:31px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:31px;
}

.u31 {
    position:absolute;
    left:2px;
    top:8px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:110px;
    top:31px;
    width:330px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:345px;
    top:95px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

