body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../扫码时激活流程_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:152px;
    top:167px;
    width:100px;
    height:60px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u1 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../扫码时激活流程_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:152px;
    top:271px;
    width:100px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../扫码时激活流程_files/u0_normal.png');
}

.u4_container {
    position:absolute;
    left:329px;
    top:462px;
    width:100px;
    height:60px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u5 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:263px;
    top:302px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:180px;
    top:334px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../扫码时激活流程_files/u0_normal.png');
}

.u8_container {
    position:absolute;
    left:329px;
    top:356px;
    width:100px;
    height:60px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u9 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../扫码时激活流程_files/u2_normal.png');
}

.u10_container {
    position:absolute;
    left:152px;
    top:418px;
    width:100px;
    height:60px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u11 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12c0 {
    background-image: url('../扫码时激活流程_files/u12c0.png');
}

.u12c0 {
    position:absolute;
    left:192px;
    top:327px;
    width:20px;
    height:101px;
}

.u13 {
    position:absolute;
    left:-50px;
    top:36px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:208px;
    top:488px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:129px;
    top:421px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../扫码时激活流程_files/u0_normal.png');
}

.u16_container {
    position:absolute;
    left:152px;
    top:516px;
    width:100px;
    height:60px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u17 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:205px;
    top:597px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../扫码时激活流程_files/u0_normal.png');
}

.u19_container {
    position:absolute;
    left:329px;
    top:551px;
    width:100px;
    height:60px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u20 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21c0 {
    background-image: url('../扫码时激活流程_files/u21c0.png');
}

.u21c0 {
    position:absolute;
    left:369px;
    top:518px;
    width:20px;
    height:43px;
}

.u22 {
    position:absolute;
    left:-50px;
    top:6px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:393px;
    top:525px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24c0 {
    background-image: url('../扫码时激活流程_files/u24c0.png');
}

.u24c0 {
    position:absolute;
    left:192px;
    top:223px;
    width:20px;
    height:58px;
}

.u25 {
    position:absolute;
    left:-50px;
    top:14px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../扫码时激活流程_files/u0_normal.png');
}

.u26_container {
    position:absolute;
    left:152px;
    top:72px;
    width:100px;
    height:60px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:66px;
}

.u27 {
    position:absolute;
    left:2px;
    top:22px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28c0 {
    background-image: url('../扫码时激活流程_files/u28c0.png');
}

.u28c0 {
    position:absolute;
    left:192px;
    top:128px;
    width:20px;
    height:49px;
}

.u29 {
    position:absolute;
    left:-50px;
    top:10px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30c0 {
    background-image: url('../扫码时激活流程_files/u30c0.png');
}

.u30c0 {
    position:absolute;
    left:369px;
    top:412px;
    width:20px;
    height:60px;
}

.u31 {
    position:absolute;
    left:-50px;
    top:15px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32c0 {
    background-image: url('../扫码时激活流程_files/u32c0.png');
}

.u32c0 {
    position:absolute;
    left:192px;
    top:474px;
    width:20px;
    height:52px;
}

.u33 {
    position:absolute;
    left:-50px;
    top:11px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34c0 {
    background-image: url('../扫码时激活流程_files/u34c0.png');
}

.u34c0 {
    position:absolute;
    left:88px;
    top:438px;
    width:68px;
    height:20px;
}

.u34c1 {
    background-image: url('../扫码时激活流程_files/u34c1.png');
}

.u34c1 {
    position:absolute;
    left:88px;
    top:92px;
    width:20px;
    height:366px;
}

.u34c2 {
    background-image: url('../扫码时激活流程_files/u34c2.png');
}

.u34c2 {
    position:absolute;
    left:88px;
    top:92px;
    width:68px;
    height:20px;
}

.u35 {
    position:absolute;
    left:-104px;
    top:-181px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:386px;
    top:426px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37c0 {
    background-image: url('../扫码时激活流程_files/u37c0.png');
}

.u37c0 {
    position:absolute;
    left:248px;
    top:291px;
    width:141px;
    height:20px;
}

.u37c1 {
    background-image: url('../扫码时激活流程_files/u37c1.png');
}

.u37c1 {
    position:absolute;
    left:369px;
    top:291px;
    width:20px;
    height:69px;
}

.u38 {
    position:absolute;
    left:41px;
    top:-8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39c0 {
    background-image: url('../扫码时激活流程_files/u39c0.png');
}

.u39c0 {
    position:absolute;
    left:192px;
    top:572px;
    width:20px;
    height:24px;
}

.u39c1 {
    background-image: url('../扫码时激活流程_files/u39c1.png');
}

.u39c1 {
    position:absolute;
    left:192px;
    top:576px;
    width:113px;
    height:20px;
}

.u39c2 {
    background-image: url('../扫码时激活流程_files/u39c2.png');
}

.u39c2 {
    position:absolute;
    left:285px;
    top:327px;
    width:20px;
    height:269px;
}

.u39c3 {
    background-image: url('../扫码时激活流程_files/u39c3.png');
}

.u39c3 {
    position:absolute;
    left:285px;
    top:327px;
    width:104px;
    height:20px;
}

.u39c4 {
    background-image: url('../扫码时激活流程_files/u39c4.png');
}

.u39c4 {
    position:absolute;
    left:369px;
    top:327px;
    width:20px;
    height:33px;
}

.u40 {
    position:absolute;
    left:43px;
    top:-122px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

