body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../3_5_4图片的查看_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:54px;
    top:130px;
    width:320px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../3_5_4图片的查看_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:54px;
    top:130px;
    width:321px;
    height:16px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:16px;
}

.u3 {
    position:absolute;
    left:2px;
    top:0px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:83px;
    top:130px;
    width:53px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:186px;
    top:130px;
    width:57px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../3_5_4图片的查看_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:54px;
    top:146px;
    width:320px;
    height:464px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:464px;
}

.u7 {
    position:absolute;
    left:2px;
    top:224px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../3_5_4图片的查看_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:55px;
    top:510px;
    width:320px;
    height:100px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:106px;
}

.u9 {
    position:absolute;
    left:2px;
    top:42px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../3_5_4图片的查看_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:3px;
    top:0px;
    width:5px;
    height:50px;
}

.u10 {
    position:absolute;
    left:365px;
    top:510px;
    width:10px;
    height:50px;
    
}

.u11 {
    position:absolute;
    left:65px;
    top:510px;
    width:300px;
    height:95px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../3_5_4图片的查看_files/u0_normal.png');
}

.u12_container {
    position:absolute;
    left:419px;
    top:128px;
    width:320px;
    height:480px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:480px;
}

.u13 {
    position:absolute;
    left:2px;
    top:232px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../3_5_4图片的查看_files/u2_normal.png');
}

.u14_container {
    position:absolute;
    left:419px;
    top:128px;
    width:321px;
    height:16px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:16px;
}

.u15 {
    position:absolute;
    left:2px;
    top:0px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:448px;
    top:128px;
    width:53px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:551px;
    top:128px;
    width:57px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../3_5_4图片的查看_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:419px;
    top:143px;
    width:320px;
    height:465px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:465px;
}

.u19 {
    position:absolute;
    left:2px;
    top:224px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:70px;
    top:40px;
    width:306px;
    height:76px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:429px;
    top:56px;
    width:280px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../3_5_4图片的查看_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:54px;
    top:146px;
    width:320px;
    height:44px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u23 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../3_5_4图片的查看_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:66px;
    top:155px;
    width:53px;
    height:25px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:31px;
}

.u25 {
    position:absolute;
    left:2px;
    top:3px;
    width:49px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../3_5_4图片的查看_files/u24_normal.png');
}

.u26_container {
    position:absolute;
    left:312px;
    top:156px;
    width:53px;
    height:25px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:31px;
}

.u27 {
    position:absolute;
    left:2px;
    top:3px;
    width:49px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

