body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../iphone_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:85px;
    width:13px;
    height:34px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:40px;
}

.u1 {
    position:absolute;
    left:2px;
    top:9px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../iphone_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:155px;
    width:13px;
    height:30px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:36px;
}

.u3 {
    position:absolute;
    left:2px;
    top:7px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../iphone_files/u2_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:220px;
    width:13px;
    height:30px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:19px;
    height:36px;
}

.u5 {
    position:absolute;
    left:2px;
    top:7px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../iphone_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:256px;
    top:0px;
    width:57px;
    height:8px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:63px;
    height:14px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-4px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../iphone_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:4px;
    top:5px;
    width:376px;
    height:743px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:382px;
    height:749px;
}

.u9 {
    position:absolute;
    left:2px;
    top:364px;
    width:372px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../iphone_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:8px;
    top:9px;
    width:368px;
    height:735px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:374px;
    height:741px;
}

.u11 {
    position:absolute;
    left:2px;
    top:360px;
    width:364px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../iphone_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:156px;
    top:62px;
    width:71px;
    height:16px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:22px;
}

.u13 {
    position:absolute;
    left:2px;
    top:0px;
    width:67px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../iphone_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:121px;
    top:62px;
    width:15px;
    height:15px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:21px;
    height:21px;
}

.u15 {
    position:absolute;
    left:2px;
    top:0px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../iphone_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:4px;
    top:65px;
    width:4px;
    height:4px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:10px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../iphone_files/u16_normal.png');
}

.u18_container {
    position:absolute;
    left:376px;
    top:64px;
    width:4px;
    height:4px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:10px;
}

.u19 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../iphone_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:125px;
    top:66px;
    width:7px;
    height:7px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:13px;
    height:13px;
}

.u21 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../iphone_files/u16_normal.png');
}

.u22_container {
    position:absolute;
    left:4px;
    top:659px;
    width:4px;
    height:4px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:10px;
}

.u23 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../iphone_files/u16_normal.png');
}

.u24_container {
    position:absolute;
    left:376px;
    top:659px;
    width:4px;
    height:4px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:10px;
}

.u25 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../iphone_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:162px;
    top:653px;
    width:60px;
    height:60px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u27 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../iphone_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:180px;
    top:670px;
    width:24px;
    height:24px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:30px;
    height:30px;
}

.u29 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../iphone_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:35px;
    top:147px;
    width:2px;
    height:2px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:8px;
}

.u31 {
    position:absolute;
    left:2px;
    top:-7px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../iphone_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:39px;
    top:146px;
    width:2px;
    height:3px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../iphone_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:43px;
    top:144px;
    width:2px;
    height:5px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:11px;
}

.u35 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../iphone_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:47px;
    top:142px;
    width:2px;
    height:7px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:13px;
}

.u37 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../iphone_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:51px;
    top:140px;
    width:2px;
    height:9px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:15px;
}

.u39 {
    position:absolute;
    left:2px;
    top:-4px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../iphone_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:347px;
    top:143px;
    width:2px;
    height:3px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:8px;
    height:9px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../iphone_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:31px;
    top:134px;
    width:322px;
    height:482px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:328px;
    height:488px;
}

.u43 {
    position:absolute;
    left:2px;
    top:233px;
    width:318px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../iphone_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:32px;
    top:135px;
    width:320px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:320px;
    height:20px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../留言_1_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:32px;
    top:155px;
    width:320px;
    height:44px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:50px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../留言_1_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:29px;
    top:162px;
    width:32px;
    height:31px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:31px;
}

.u50 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:54px;
    top:169px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../留言_1_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:32px;
    top:329px;
    width:320px;
    height:65px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:71px;
}

.u53 {
    position:absolute;
    left:2px;
    top:24px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../留言_1_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:40px;
    top:339px;
    width:45px;
    height:45px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:51px;
}

.u55 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:92px;
    top:341px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:92px;
    top:367px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:285px;
    top:342px;
    width:75px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../留言_1_files/u52_normal.png');
}

.u59_container {
    position:absolute;
    left:32px;
    top:394px;
    width:320px;
    height:65px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:71px;
}

.u60 {
    position:absolute;
    left:2px;
    top:24px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../留言_1_files/u54_normal.png');
}

.u61_container {
    position:absolute;
    left:40px;
    top:404px;
    width:45px;
    height:45px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:51px;
}

.u62 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:92px;
    top:406px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:92px;
    top:432px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:282px;
    top:407px;
    width:75px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../留言_1_files/u52_normal.png');
}

.u66_container {
    position:absolute;
    left:32px;
    top:459px;
    width:320px;
    height:65px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:71px;
}

.u67 {
    position:absolute;
    left:2px;
    top:24px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../留言_1_files/u54_normal.png');
}

.u68_container {
    position:absolute;
    left:40px;
    top:469px;
    width:45px;
    height:45px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:51px;
}

.u69 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:92px;
    top:471px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:92px;
    top:497px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:272px;
    top:469px;
    width:80px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../留言_1_files/u52_normal.png');
}

.u73_container {
    position:absolute;
    left:32px;
    top:524px;
    width:320px;
    height:65px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:71px;
}

.u74 {
    position:absolute;
    left:2px;
    top:24px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../留言_1_files/u54_normal.png');
}

.u75_container {
    position:absolute;
    left:40px;
    top:534px;
    width:45px;
    height:45px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:51px;
}

.u76 {
    position:absolute;
    left:2px;
    top:14px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:92px;
    top:536px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:92px;
    top:562px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:242px;
    top:537px;
    width:110px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:175px;
    top:596px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../留言_1_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:147px;
    top:594px;
    width:21px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:20px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../留言_1_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:314px;
    top:362px;
    width:25px;
    height:25px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u84 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../留言_1_files/u83_normal.png');
}

.u85_container {
    position:absolute;
    left:316px;
    top:424px;
    width:25px;
    height:25px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u86 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../留言_1_files/u83_normal.png');
}

.u87_container {
    position:absolute;
    left:319px;
    top:489px;
    width:25px;
    height:25px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u88 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../留言_1_files/u83_normal.png');
}

.u89_container {
    position:absolute;
    left:319px;
    top:556px;
    width:25px;
    height:25px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u90 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../留言_1_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:32px;
    top:199px;
    width:320px;
    height:26px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:32px;
}

.u92 {
    position:absolute;
    left:2px;
    top:5px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:40px;
    top:204px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../留言_1_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:40px;
    top:233px;
    width:60px;
    height:60px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u95 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../留言_1_files/u94_normal.png');
}

.u96_container {
    position:absolute;
    left:110px;
    top:233px;
    width:60px;
    height:60px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u97 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../留言_1_files/u94_normal.png');
}

.u98_container {
    position:absolute;
    left:182px;
    top:233px;
    width:60px;
    height:60px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u99 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../留言_1_files/u94_normal.png');
}

.u100_container {
    position:absolute;
    left:252px;
    top:233px;
    width:60px;
    height:60px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:66px;
}

.u101 {
    position:absolute;
    left:2px;
    top:22px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../留言_1_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:322px;
    top:233px;
    width:30px;
    height:60px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:66px;
}

.u103 {
    position:absolute;
    left:2px;
    top:22px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../留言_1_files/u91_normal.png');
}

.u104_container {
    position:absolute;
    left:32px;
    top:303px;
    width:320px;
    height:26px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:32px;
}

.u105 {
    position:absolute;
    left:2px;
    top:5px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:40px;
    top:308px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../留言_1_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:32px;
    top:566px;
    width:320px;
    height:49px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:55px;
}

.u108 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../留言_1_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:77px;
    top:574px;
    width:221px;
    height:35px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:227px;
    height:41px;
}

.u110 {
    position:absolute;
    left:2px;
    top:10px;
    width:217px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../留言_1_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:40px;
    top:577px;
    width:30px;
    height:30px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:30px;
}

.u112 {
    position:absolute;
    left:2px;
    top:7px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:311px;
    top:581px;
    width:52px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:84px;
    top:584px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:311px;
    top:205px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

